language: node_js
node_js:
  - "stable"

ccache:
  dependencies:
    node_modules

script:
  - npm install
  - npm test
  - npm run build

deploy:
  provider: surge
  skip_cleanup: true
  domain: screeching-cloth.surge.sh
  project: ./build/

on:
  branch: master
